.promo {
  margin-left: 150px;
  width: calc(100% -150px);
  height: auto;
  background: #20212c;
  background-image: url(/assets/images/MaskGroup.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.promoLight {
  margin-left: 150px;
  width: calc(100% -150px);
  height: auto;
  background: #ffffff;
  background-image: url(/assets/images/MaskGroup.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.promoHead h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  /* identical to box height */

  text-align: center;
  margin: 5rem 0;
  color: #ffffff;
}
.promoSwitch {
  width: 100%;
  padding: 0 5rem;
  height: 60px;
  background: #2a2b38;
  border: 1px solid #4d4d4d;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}
.promoSwitch:hover {
  cursor: pointer;
  background: linear-gradient(91.6deg, #32e4bf 0%, #21a1de 81.22%);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.promoBodyCard {
  width: 300px;
  height: auto;
}
.promoBody {
  margin-top: 2rem;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  padding: 5rem;
}
.promoheadDiv {
  width: 100%;
  height: 180px;
  background: linear-gradient(270deg, #627eea 0%, #8fa3ef 100%);
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.promoheadDiv2 {
  width: 100%;
  height: 180px;
  background: linear-gradient(270deg, #cb4343 0%, #ff5a5a 100%);
  border-radius: 10px;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.promoheadDiv3 {
  width: 100%;
  height: 180px;
  background: linear-gradient(270deg, #32e4bf 0%, #03ffd2 100%);
  border-radius: 10px;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.promoheadDiv4 {
  width: 100%;
  height: 180px;
  background: linear-gradient(270deg, #e0aa3e 0%, #f9f295 100%);
  border-radius: 10px;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.myStatsDiv {
  width: 100%;
  height: 140px;
  margin-right: 5px;
  background: #2a2b38;
  border-radius: 10px;
}
.promoBodyDiv {
  width: 100%;
  height: 422px;
  margin-right: 5px;
  background: #2a2b38;
  border-radius: 10px;
}

.promoBodyDivLight {
  width: 100%;
  height: 422px;
  margin-right: 5px;
  background: #f2f2f2;
  border-radius: 10px;
}
.The_GlobalDiv {
  width: 100%;
  height: 255px;
  background: linear-gradient(91.6deg, #32e4bf 0%, #21a1de 81.22%);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

}
.The_Global{
  padding: 5rem 0;
}
.promoHead {
  margin-top: 7rem;
  margin-bottom: 2.5rem;
}
.Games_performance {
  margin: 2.5rem 0;
}
.promoBtn {
  width: 104px;
  height: 38px;
  color: #ffffff;
  margin-left: 5px;
  margin-top: 5px;
  background: #20212c;
  border-radius: 5px;
}
.promoheadDivimg {
  width: 100%;
  position: absolute;
  text-align: start;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.promoheadDivimg h2 {
  margin: 0;
  text-align: start;
}
.myStatsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
}
.myStatsDiv h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  color: #ffffff;
}
.myStatsDiv p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */

  color: #a5a8cd;
}
.promoBodyDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.promoBodyDivLight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.The_GlobalDiv {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.The_GlobalDiv h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  /* identical to box height */

  color: #20212c;
}
.The_GlobalDiv p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  color: #2a2b38;
}

@media screen and (max-width:500px) {
  .The_Global{
    display: none;
  }

  .promo {
    margin-left: 0px;
    width: 100%;
    height: auto;
    background: #20212c;
    background-image: url(/assets/images/MaskGroup.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .promoheadDiv {
    width: 95%;
    height: 180px;
    background: linear-gradient(270deg, #627eea 0%, #8fa3ef 100%);
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }

  .promoheadDiv2 {
    width: 95%;
    height: 180px;
    background: linear-gradient(270deg, #cb4343 0%, #ff5a5a 100%);
    border-radius: 10px;
    position: relative;
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }

  .promoheadDiv3 {
    width: 95%;
    height: 180px;
    background: linear-gradient(270deg, #32e4bf 0%, #03ffd2 100%);
    border-radius: 10px;
    position: relative;
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }

  .promoheadDiv4 {
    width: 95%;
    height: 180px;
    background: linear-gradient(270deg, #e0aa3e 0%, #f9f295 100%);
    border-radius: 10px;
    position: relative;
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }

  .promoBodyDiv {
    width: 95%;
    height: 422px;
    margin-right: 5px;
    background: #2a2b38;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .promoBodyDivLight {
    width: 95%;
    height: 422px;
    margin-right: 5px;
    background: #f2f2f2;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .promoLight {
    margin-left: 0px;
    width: 100%;
    height: auto;
    background: #ffffff;
    background-image: url(/assets/images/MaskGroup.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
}
